
.ShoutOutCard {
    text-align: center;
    background-color: white;
    border: 1px solid #aaa;
    width: 33%;
    margin: 10px;
}

.ShoutOutCard_to {
    color: red;
}

.ShoutOutCard_photo{
    width: 100%;
}